apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollamaverse-backend
  namespace: aiops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollamaverse-backend
  template:
    metadata:
      labels:
        app: ollamaverse-backend
    spec:
      containers:
        - name: ollamaverse-backend
          image: 976193257685.dkr.ecr.ap-south-1.amazonaws.com/ollamaverse-backend:3.7
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 5
